@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

#mwl {
  font-family: "Open Sans", sans-serif;
  background: #ececec;
  display: flex;
  justify-content: center;
  padding: 12px 20px;
  text-align: center;
}
#mwl .mwl__text {
  color: #252525;
  font-size: 14px;
}
#mwl .mwl__svg {
  vertical-align: middle;
}
#mwl .mwl__link {
  text-decoration: none;
  font-weight: 600;
  color: #151515;
  transition: all 0.3s linear;
}
#mwl .mwl__link:hover {
  color: #d62a2a;
}
